* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Variabls */
:root {
  --primary-pink-clr: hsl(322, 100%, 66%);
  --primary-pink-clr-light: hsl(321, 100%, 78%);
  --primary-pink-clr-very-light: hsl(321, 100%, 85%);
  --primary-light-red-clr: hsl(0, 100%, 63%);

  --neutral-dark-cyan-clr: hsl(192, 100%, 9%);
  --neutral-pale-blue-clr: hsl(207, 100%, 98%);

  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;

  --size-one: 0.875rem;
  --size-two: 1rem;
  --size-three: 1.2rem;
}
/* Start Components */
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--neutral-dark-cyan-clr);
  line-height: 1.5;
}
h1 {
  font-size: 1.7rem ;
}
@media (max-width: 50em) {
  h1 {
    font-size: 1.5rem;
  }
}
h2 {
  font-size: 1.5rem ;
}
@media (max-width: 50em) {
  h2 {
    font-size: 1.3rem;
  }
}
a {
  text-decoration: none;
}
p {
  line-height: 1.6;
  font-weight: var(--font-weight-600);
  font-size: .875rem;
}
.button {
  border: 0;
  background-color: var(--primary-pink-clr);
  color: white;
  font-size: 0.7rem;
  font-weight: var(--font-weight-600);
  display: inline-flex;
  padding: 1.3em 4em;
  border-radius: 100vmax;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
  transition: 0.5s;
  box-shadow: 0 1em 1.25em -1em var(--primary-pink-clr);
}
.button:hover,
.button:focus {
  background-color: var(--primary-pink-clr-light);
}
.button.try-free {
  background-color: white;
  border: 1px solid var(--primary-pink-clr);
  color: var(--primary-pink-clr);
  box-shadow: none;
  padding: .6em 2em;
}
.button.try-free:hover {
  border-color: var(--primary-pink-clr-light);
  color: var(--primary-pink-clr-very-light);
}
body {
  font-family: "Open Sans", sans-serif;
  color: var(--neutral-dark-cyan-clr);
}
.container {
  --padding: 1rem;
  --max-width: 1110px;
  margin-inline: auto;

  width: min(var(--max-width), 100% - var(--padding) * 2);
}
.flex-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 600px) {
  .flex-wrapper {
    flex-direction: column;
    gap: 5rem;
  }
  .flex-revers {
    display: flex;
    flex-direction: column-reverse;
  }
  .align-start {
    display: flex;
    align-items: start;
  }
}
/* @media (min-width: 375px) {
  .align-start {
    display: flex;
    align-items: start;
  }
} */
.padding-top-bottom {
  padding: 5rem 0;
}
/* End Components */
header .container {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo img {
  width: 7rem;
}
main .landing {
  text-align: center;
}
main .landing .landing-text {
  padding-bottom: 5rem;
}
main .landing .landing-text .landing-p {
  max-width: 400px;
  margin: 0 auto 1rem;
}
main .landing .landing-image img {
  width: 100%;
}
main .stats .stat .stat-icon {
  width: 1.5rem;
  color: var(--primary-pink-clr);
}
main .stats .stat .stat-spn {
  display: block;
  font-size: 3.5rem;
  font-weight: var(--font-weight-700);
}
main .stats .stat .stat-p {
  font-size: .9rem;
  text-align: center;
  opacity: 0.7;
}
@media (max-width: 50em) {
  main .med-sections {
    text-align: center;
  }
}
main .med-sections .text-side p  {
  max-width: 55ch;
}
main .med-sections .image-side img {
  max-width: 350px;
}
main .community {
  text-align: center;
}
footer {
  padding: 2rem;
  background-color: var(--neutral-dark-cyan-clr);
  color: white;
}
footer .footer-left,
footer .footer-right {
  display: grid;
  gap: 1rem;
}
footer .logo img {
  width: 200px;
  color: white;
}
footer .ft-p {
  width: 350px;
}
@media (max-width: 50em) {
  footer .ft-p {
    width: 300px;
  }
}
footer .footer-left .contact {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.5rem;
}
footer .footer-left .contact .cont-icon{
  font-size: 1rem;
}
footer .footer-left .contact .cont-spn {
  font-size: 0.9rem;
}
footer .footer-left .links {
  display: flex;
  gap: 0.5rem;
}
footer .footer-left .links i {
  color: var(--neutral-dark-cyan-clr);
  background-color: white;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .2rem;
  transition: 0.5s;
}
 .links i.facebook:hover {
  background-color: hsl(213.85,89.34%,52.16%);
}
 .links i.instagram:hover {
  background-color: hsl(348.66,75.23%,57.25%);
}
 .links i.twitter:hover {
  background-color: hsl(202.82,89.12%,53.14%);
}
footer .footer-right .ft-h3 {
  margin: 0;
  color: white;
  text-transform: uppercase;
}
footer .footer-right form {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 50em) {
  footer .footer-right form {
    flex-direction: column;
    align-items: end;
    gap: 1rem;
  }
}
footer .footer-right form input {
  border-radius: .3rem;
  border: none;
  padding: .9rem 2rem;
}
footer .footer-right form input:focus-within {
  outline: 1px solid var(--primary-pink-clr);
}
footer .footer-right form input[type="submit"] {
  box-shadow: none;
  font-size: 1rem;
}
